<div class="large-12 columns credits">
    <div class="row">
        <div class="small-12 columns small-centered large-centered">
            <h3 class="subheader">Credits :</h3>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns small-centered large-centered">
            <p>What have been using to create this app</p>
            <ul class="small-10 small-centered large-centered">
                <li>
                    <a href="https://github.com/" target="_blank" >Github</a>
                </li>
            	<li>
            	    <a href="http://zeptojs.com/" target="_blank" >Zepto</a>
            	</li>
                <li>
                    <a href="http://foundation.zurb.com/" target="_blank" >Foundation</a>
                </li>
                <li>
                    <a href="http://mustache.github.io/" target="_blank" >Mustache</a>
                </li>
            </ul>
        </div>
    </div>
</div>