<div class="large-12 columns">
    <div class="row">
        <div class="small-12 columns small-centered large-centered">
            <h3 class="subheader">Need Help ?</h3>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns small-centered large-centered">
            <p>
                The app is pretty easy to use but if you need some help or if you have any question you can contact me at 
                <a href="https://github.com/wonknu" target="_blank" >github.com</a>.
                Don't hesitate to open issues if you use github and you would like to have new features.
            </p>
        </div>
    </div>
</div>