<article>
    <h3 class="subheader">{{title}}</h3>
    <form>
        <div class="large-12 columns">
            <div class="row add-wrapper">
                <div class="small-12 columns small-centered large-centered new-player">
                    <input type="text" placeholder="player name" autofocus="autofocus" >
                </div>
            </div>
            <div class="row small-9 large-12">
                <div class="small-2 large-2 columns small-offset-2">
                    <a href="#" class="button prefix" data-event="addPlayer" >{{btnAdd}}</a>
                </div>
                <div class="small-2 large-2 small-offset-4 columns">
                    <a href="#" class="button prefix" data-event="next" >{{btnNext}}</a>
                </div>
                <div class="columns"></div>
            </div>
        </div>
    </form>
</article>