<article>
    <h3 class="subheader">{{title}}</h3>
    <form>
        <div class="large-12 columns">
            <div class="row">
                <div class="small-10 columns small-centered large-centered">
                    {{#count}}
                        <input type="text" placeholder="Team {{nb}}" {{focus}}>
                    {{/count}}
                </div>
            </div>
            <div class="row">
                <div class="small-2 large-2 columns small-centered large-centered">
                    <a href="#" class="button prefix" data-event="teamName" >{{btnNext}}</a>
                </div>
            </div>
        </div>
    </form>
</article>